<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post-it!</title>
</head>
<body>
  <h1>Post-it!</h1>
  <form method="POST" action="/new">
    <label for="messageUser">Your name:</label>
    <input type="text" id="messageUser" name="messageUser">
    <label for="messageText">Your message:</label>
    <input type="text" id="messageText" name="messageText">
    <button type="submit">Post!</button>
  </form>
</body>
</html>