<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post-it!</title>
  <link rel="icon" type="image/x-icon" href="/sticky-note.png">
  <link rel="stylesheet" href="/global.css">
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <h1>Post-it!</h1>
  <a href="/new" class="new-message">New message</a>
  <ul>
    <% for (let i = messages.length - 1; i >= 0; i--) { %>
      <li>
          <p class="message"><%= messages[i].text %></p>
          <p class="username"><%= messages[i].username %></p>
          <p class="date"><%= messages[i].added %></p>
          <a href="/messages/<%= messages[i].id %>" class="details">Details</a>
      </li>
    <% } %>
  </ul>
</body>
</html>