<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post-it!</title>
</head>
<body>
  <h1>Post-it!</h1>
  <a href="/">Go back</a>
  <div>
    <p><%= `Text: ${message.text}` %></p>
    <p><%= `Author: ${message.user}` %></p>
    <p><%= `Date: ${message.added}` %></p>
  </div>
</body>
</html>