body {
  gap: 2rem;
}

form {
  width: min(100%, 400px);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

input,
textarea {
  border-radius: 0;
  border: 1px solid black;
  padding: 0.5rem;
  font-family: monospace;
  font-size: 1rem;
}

button[type='submit'] {
  color: black;
  width: fit-content;
}
